body {
    background-color: lightblue;
}

p{
    font-size: 200%;
    color: purple;
}

img {
	width: 20%;
}
th {
	background-color: grey;
	width: 30px;
	height: 30px;
}
td {
	background-color: grey;
	width: 30px;
	height: 30px;
	color: pink;
}
