body {
    background-color: lightblue;
}

p{
    font-size: 200%;
    color: purple;
}

img {
	width: 20%;
}
table {
	background-color: grey;
	width: 50%;
	height: 130px;
}
th {
	background-color: grey;
	width: 10%;
	height: 25px;
}
td {
	background-color: grey;
	width: 10%;
	height: 25px;
}
